<section class="proj-smartlink">
  <article class="box-title-proj">
      <h1>SmartLink<span class="paragraph-md"> 2017</span></h1>
      <ul>
        <li><a href="#company">{{'company' | translate }}</a></li>
        <li><a href="#mockup">{{'mockups' | translate }}</a></li>
        <li><a href="#proposal">{{'purpose' | translate }}</a></li>
      </ul>
    </article>




   <!-- start about company -->
   <a name="company"></a>
    <article>
      <div class="container-sm">
        <h3>{{'company' | translate }}</h3>

        <p><strong>{{'smartlink_info1' | translate }}</strong></p>
        <p>{{'smartlink_info2' | translate }}</p>
      </div>
    </article>
    <!-- end about company -->

    <!-- start about image -->
    <a name="mockup"></a>
    <article>
      <div class="container container-img">
        <h3>{{'mockups' | translate }}</h3>
        <img src="assets/images/portfolio/smartlink/smartlink_1.jpg" alt="diseño de la web de smartlink">
        <span class="footer-img">{{'img_smartlink1' | translate }}</span>
        <img src="assets/images/portfolio/smartlink/smartlink_2.jpg" alt="diseño de la web de smartlink">
        <span class="footer-img">{{'img_smartlink2' | translate }}</span>
        <img src="assets/images/portfolio/smartlink/smartlink_3.jpg" alt="diseño de la web de smartlink">
        <span class="footer-img">{{'img_smartlink3' | translate }}</span>
      </div>
    </article>
    <!-- end about image -->


   <!-- start about purpose -->
   <a name="proposal"></a>
    <article>
      <div class="container-sm">
        <h3>{{'purpose' | translate }}</h3>
        <p>{{'purpose_smartlink1' | translate }}</p>
        <p><strong>{{'purpose_smartlink2' | translate }}</strong></p>
        <p><span class="point-text">1. </span>{{'smartlink_step1' | translate }}</p>
        <p><span class="point-text">2. </span>{{'smartlink_step2' | translate }}</p>
        <p><span class="point-text">3. </span>{{'smartlink_step3' | translate }}</p>
      </div>
    </article>
    <!-- end about purpose -->


    <!-- start other projects -->
    <article>
      <div class="container-sm container-links cf">
          <a class="pull-left btn btn-primary" href="portfolio">
            <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
            {{'return_portfolio' | translate }}
          </a>
          <a class="pull-right btn btn-primary" href="portfolio/makeyoursuit">
            {{'view_project' | translate }}: makeyoursuit
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
          </a>
      </div>
    </article>
    <!-- end other projects -->
    </section>
