<!--portfolio -->
<article id="works" class="box-portfolio">
 <div class="container">
   <h3 translate>Proyectos</h3>
           <div class="row hidden-sm-down">
     <div class="box-3">
       <a class="box-img-portfolio" href="portfolio/backend">
         <img src="/assets/images/portfolio/backend/backend_portada.jpg" alt="">
         <div class="box-text-portfolio proj-backend">
           <h4 class="line-subtitle">Smartcommerce</h4>
           <p class="paragraph-sm" translate>infoSmartcommerce</p>
            <span class="bottom-fixed">{{'view_project' | translate}}<i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
         </div>
       </a>
     </div>
     <div class="box-3">
       <a class="box-img-portfolio" href="portfolio/xerpa">
         <img src="/assets/images/portfolio/xerpa/xerpa_portada.jpg" alt="">
         <div class="box-text-portfolio proj-xerpa">
           <h4 class="line-subtitle">CityXerpa</h4>
           <p class="paragraph-sm" translate>infoXerpa</p>
            <span class="bottom-fixed">{{'view_project' | translate}}<i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
         </div>
       </a>
     </div>
     <div class="box-3">
       <a class="box-img-portfolio" href="portfolio/smartlink">
         <img src="/assets/images/portfolio/smartlink/smartlink_portada.jpg" alt="">
         <div class="box-text-portfolio proj-smartlink">
           <h4 class="line-subtitle">Smartlink</h4>
           <p class="paragraph-sm" translate>infoSmartlink</p>
            <span class="bottom-fixed">{{'view_project' | translate}}<i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
         </div>
       </a>
     </div>
     <div class="box-3">
       <a class="box-img-portfolio" href="portfolio/makeyoursuit">
         <img src="/assets/images/portfolio/makeyoursuit/makeyoursuit_portada.jpg" alt="">
         <div class="box-text-portfolio proj-makeyoursuit">
           <h4 class="line-subtitle">Makeyoursuit</h4>
           <p class="paragraph-sm" translate>infoMakeyoursuit</p>
            <span class="bottom-fixed">{{'view_project' | translate}}<i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
         </div>
       </a>
     </div>
      <div class="box-3">
       <a class="box-img-portfolio" href="portfolio/schweppes">
         <img src="/assets/images/portfolio/schweppes/schweppes_portada.jpg" alt="">
         <div class="box-text-portfolio proj-schweppes">
           <h4 class="line-subtitle">Schweppes</h4>
           <p class="paragraph-sm" translate>infoSchweppes</p>
            <span class="bottom-fixed">{{'view_project' | translate}}<i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
         </div>
       </a>
     </div>
     <div class="box-3">
       <a class="box-img-portfolio" href="portfolio/puntoyseguido">
         <img src="/assets/images/portfolio/puntoyseguido/puntoyseguido_portada.jpg" alt="">
         <div class="box-text-portfolio proj-puntoyseguido">
           <h4 class="line-subtitle">Puntoyseguido</h4>
           <p class="paragraph-sm" translate>infoPuntoyseguido</p>
            <span class="bottom-fixed">{{'view_project' | translate}}<i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
         </div>
       </a>
     </div>

     <div class="box-3">
       <a class="box-img-portfolio" href="portfolio/procter">
         <img src="/assets/images/portfolio/procter/procter_portada.jpg" alt="">
         <div class="box-text-portfolio proj-procter">
           <h4 class="line-subtitle">Procter & Gamble</h4>
           <p class="paragraph-sm" translate>infoProcter</p>
            <span class="bottom-fixed">{{'view_project' | translate}}<i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
         </div>
       </a>
     </div>
     <div class="box-3">
       <a class="box-img-portfolio" href="portfolio/tedclothing">
         <img src="/assets/images/portfolio/tedclothing/tedclothing_portada.jpg" alt="">
         <div class="box-text-portfolio proj-tedclothing">
           <h4 class="line-subtitle">Tedclothing</h4>
           <p class="paragraph-sm" translate>info_tedclothing</p>
            <span class="bottom-fixed">{{'view_project' | translate}}<i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
         </div>
       </a>
     </div>
     <div class="box-3">
       <a class="box-img-portfolio" href="portfolio/saltinbanquin">
         <img src="/assets/images/portfolio/saltinbanquin/saltinbanquin_portada.jpg" alt="">
         <div class="box-text-portfolio proj-saltinbanquin">
           <h4 class="line-subtitle">Saltinbanquin</h4>
           <p class="paragraph-sm" translate>info_saltin_banquin</p>
            <span class="bottom-fixed">{{'view_project' | translate}}<i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
         </div>
       </a>
     </div>
      <div class="box-3">
       <a class="box-img-portfolio" href="portfolio/boxeador">
         <img src="/assets/images/portfolio/boxeador/boxeador_portada.jpg" alt="">
         <div class="box-text-portfolio proj-boxeador">
           <h4 class="line-subtitle">J-Suge</h4>
           <p class="paragraph-sm" translate>info_boxeo</p>
            <span class="bottom-fixed">{{'view_project' | translate}}<i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
         </div>
       </a>
     </div>
     <div class="box-3">
       <a class="box-img-portfolio" href="portfolio/nestle">
         <img src="/assets/images/portfolio/nestle/nestle_portada.jpg" alt="">
         <div class="box-text-portfolio proj-nestle">
           <h4 class="line-subtitle">Nestle</h4>
           <p class="paragraph-sm" translate>info_nestle</p>
            <span class="bottom-fixed">{{'view_project' | translate}}<i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
         </div>
       </a>
     </div>
      <div class="box-3">
       <a class="box-img-portfolio" href="portfolio/impremta">
         <img src="/assets/images/portfolio/impremta/impremta_portada.jpg" alt="">
         <div class="box-text-portfolio proj-impremta">
           <h4 class="line-subtitle">Impremta</h4>
           <p class="paragraph-sm" translate>info_impremta</p>
            <span class="bottom-fixed">{{'view_project' | translate}}<i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
         </div>
       </a>
     </div>
      <div class="box-3">
       <a class="box-img-portfolio" href="portfolio/trenes">
         <img src="/assets/images/portfolio/trenes/trenes_portada.jpg" alt="">
         <div class="box-text-portfolio proj-trenes">
           <h4 class="line-subtitle">{{'trains' | translate}}</h4>
           <p class="paragraph-sm" translate>info_trains</p>
            <span class="bottom-fixed">{{'view_project' | translate}}<i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
         </div>
       </a>
     </div>

   </div>

   <div id="carousel-example-generic" class="carousel slide hidden-md-up" data-ride="carousel">

     <!-- Wrapper for slides -->
     <div class="carousel-inner" role="listbox">
       <div class="carousel-item active">
         <a href="portfolio/backend"><img src="/assets/images/portfolio/backend/backend_portada.jpg" alt="imagen del proyecto"></a>
       </div>
        <div class="carousel-item">
         <a href="portfolio/xerpa"><img src="/assets/images/portfolio/xerpa/xerpa_portada.jpg" alt="imagen del proyecto"></a>
       </div>
       <div class="carousel-item">
         <a href="portfolio/smartlink"><img src="/assets/images/portfolio/smartlink/smartlink_portada.jpg" alt="imagen del proyecto"></a>
       </div>
       <div class="carousel-item">
         <a href="portfolio/makeyoursuit"><img src="/assets/images/portfolio/makeyoursuit/makeyoursuit_portada.jpg" alt="imagen del proyecto"></a>
       </div>
        <div class="carousel-item">
         <a href="portfolio/schweppes"><img src="/assets/images/portfolio/schweppes/schweppes_portada.jpg" alt="imagen del proyecto"></a>
       </div>

       <div class="carousel-item">
         <a href="portfolio/puntoyseguido"><img src="/assets/images/portfolio/puntoyseguido/puntoyseguido_portada.jpg" alt="imagen del proyecto"></a>
       </div>
       <div class="carousel-item">
         <a href="portfolio/procter"><img src="/assets/images/portfolio/procter/procter_portada.jpg" alt="imagen del proyecto"></a>
       </div>
       <div class="carousel-item">
         <a href="portfolio/tedclothing"><img src="/assets/images/portfolio/tedclothing/tedclothing_portada.jpg" alt="imagen del proyecto"></a>
       </div>
       <div class="carousel-item">
         <a href="portfolio/saltinbanquin"><img src="/assets/images/portfolio/saltinbanquin/saltinbanquin_portada.jpg" alt="imagen del proyecto"></a>
       </div>
       <div class="carousel-item">
         <a href="portfolio/boxeador"><img src="/assets/images/portfolio/boxeador/boxeador_portada.jpg" alt="imagen del proyecto"></a>
       </div>
       <div class="carousel-item">
         <a href="portfolio/nestle"><img src="/assets/images/portfolio/nestle/nestle_portada.jpg" alt="imagen del proyecto"></a>
       </div>
       <div class="carousel-item">
         <a href="portfolio/impremta"><img src="/assets/images/portfolio/impremta/impremta_portada.jpg" alt="imagen del proyecto"></a>
       </div>
       <div class="carousel-item">
         <a href="portfolio/trenes"><img src="/assets/images/portfolio/trenes/trenes_portada.jpg" alt="imagen del proyecto"></a>
       </div>

     </div>

     <!-- Controls -->
     <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
       <span class="icon-prev" aria-hidden="true"></span>
       <span class="sr-only" translate>Previous</span>
     </a>
     <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
       <span class="icon-next" aria-hidden="true"></span>
       <span class="sr-only" translate>Next</span>
     </a>
   </div>
   <a class="btn btn-primary btn-center" href="../index.html"><i class="fa fa-long-arrow-left margin-xs-r" aria-hidden="true"></i>{{'return' | translate}}</a>


 </div>
</article>
<!-- end portfolio -->
