<!-- introducción -->
<article id="home" class="box-presentation">
	<div class="container">
		<h2 translate>welcomeMsg</h2>
		<h1 translate>subWelcome</h1>

	</div>
<!--   <a class="scroll-down" href="#view-about-me">{{'discoverMore' | translate}}<i class="fa fa-long-arrow-down" aria-hidden="true"></i></a>
 -->  <a class="scroll-down" href="#view-about-me"><i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
  
</article>

<blockquote class="sentence-famous">
	<div class="container">
		<h4>"A User interface is like a joke. If you have to explain it, it's not that good." <span>Martin LeBlanc</span></h4>
	</div>
</blockquote>
<!-- end introducción -->

<!-- welcome -->
<a name="view-about-me"></a>
<article>
  <div class="container">
    <h3 translate>welcomePortfolio</h3>
    <p class="text-center paragraph-md"><strong>{{'love_ux' | translate}}</strong> {{'welcomeMe' | translate}}</p>
    <p class="text-center primary-color paragraph-lg">"{{'gurusTool' | translate}}</p>
  </div>
</article>
<!-- ens welcome -->

<!--servicios -->
<article id="services" class="box-services">
  <div class="container">
    <h3 translate>services</h3>
    <div class="row">
      <div class="box-3">
        <div class="box-img-service">
          <img src="assets/images/icons/web-design.svg" alt="">
        </div>
        <div class="box-text-service">
          <h5 translate>webDesign</h5>
          <p translate>mobileFirst</p>
        </div>
      </div>
      <div class="box-3">
        <div class="box-img-service">
          <img src="assets/images/icons/app-design.svg" alt="">
        </div>
        <div class="box-text-service">
          <h5 translate>appDesign</h5>
          <p translate>infoAppDesign</p>
        </div>
      </div>
      <div class="box-3">
        <div class="box-img-service">
          <img src="assets/images/icons/user-design.svg" alt="">
        </div>
        <div class="box-text-service">
          <h5 translate>userExperience</h5>
          <p translate>infoUserExperience</p>
        </div>
      </div>
      <div class="box-3">
        <div class="box-img-service">
          <img src="assets/images/icons/graphic-design.svg" alt="">
        </div>
        <div class="box-text-service">
          <h5 translate>graficDesign</h5>
          <p translate>infoGraficDesign</p>
        </div>
      </div>
      <div class="box-3">
        <div class="box-img-service">
          <img src="assets/images/icons/develop-design.svg" alt="">
        </div>
        <div class="box-text-service">
          <h5 translate>webDeveloper</h5>
          <p translate>infoWebDeveloper</p>
        </div>
      </div>
      <div class="box-3">
        <div class="box-img-service">
          <img src="assets/images/icons/more-design.svg" alt="">
        </div>
        <div class="box-text-service">
          <h5 translate>whatMore</h5>
          <p translate>infoWhatMore</p>
        </div>
      </div>
    </div>
  </div>
</article>
<!-- end servicios -->

<!--portfolio -->
<article id="works" class="box-portfolio">
  <div class="container">
    <h3 translate>Proyectos</h3>
    <div class="row hidden-sm-down">
      <div class="box-3">
        <a class="box-img-portfolio" href="portfolio/backend">
          <img src="assets/images/portfolio/backend/backend_portada.jpg" alt="">
          <div class="box-text-portfolio proj-backend">
            <h4 class="line-subtitle">Smartcommerce</h4>
            <p class="paragraph-sm" translate>infoSmartcommerce</p>
             <span class="bottom-fixed">{{'view_project' | translate}}<i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
          </div>
        </a>
      </div>
      <div class="box-3">
        <a class="box-img-portfolio" href="portfolio/xerpa">
          <img src="assets/images/portfolio/xerpa/xerpa_portada.jpg" alt="">
          <div class="box-text-portfolio proj-xerpa">
            <h4 class="line-subtitle">CityXerpa</h4>
            <p class="paragraph-sm" translate>infoXerpa</p>
             <span class="bottom-fixed">{{'view_project' | translate}}<i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
          </div>
        </a>
      </div>
      <div class="box-3">
        <a class="box-img-portfolio" href="portfolio/smartlink">
          <img src="assets/images/portfolio/smartlink/smartlink_portada.jpg" alt="">
          <div class="box-text-portfolio proj-smartlink">
            <h4 class="line-subtitle">Smartlink</h4>
            <p class="paragraph-sm" translate>infoSmartlink</p>
             <span class="bottom-fixed">{{'view_project' | translate}}<i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
          </div>
        </a>
      </div>
      <div class="box-3">
        <a class="box-img-portfolio" href="portfolio/makeyoursuit">
          <img src="assets/images/portfolio/makeyoursuit/makeyoursuit_portada.jpg" alt="">
          <div class="box-text-portfolio proj-makeyoursuit">
            <h4 class="line-subtitle">Makeyoursuit</h4>
            <p class="paragraph-sm" translate>infoMakeyoursuit</p>
             <span class="bottom-fixed">{{'view_project' | translate}}<i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
          </div>
        </a>
      </div>
      <div class="box-3">
        <a class="box-img-portfolio" href="portfolio/puntoyseguido">
          <img src="assets/images/portfolio/puntoyseguido/puntoyseguido_portada.jpg" alt="">
          <div class="box-text-portfolio proj-puntoyseguido">
            <h4 class="line-subtitle">Puntoyseguido</h4>
            <p class="paragraph-sm" translate>infoPuntoyseguido</p>
             <span class="bottom-fixed">{{'view_project' | translate}}<i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
          </div>
        </a>
      </div>

      <div class="box-3">
        <a class="box-img-portfolio" href="portfolio/procter">
          <img src="assets/images/portfolio/procter/procter_portada.jpg" alt="">
          <div class="box-text-portfolio proj-procter">
            <h4 class="line-subtitle">Procter & Gamble</h4>
            <p class="paragraph-sm" translate>infoProcter</p>
             <span class="bottom-fixed">{{'view_project' | translate}}<i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
          </div>
        </a>
      </div>
    </div>

    <div id="carousel-example-generic" class="carousel slide hidden-md-up" data-ride="carousel">

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <a href="portfolio/backend"><img src="assets/images/portfolio/backend/backend_portada.jpg" alt="imagen del proyecto"></a>
        </div>
         <div class="carousel-item">
          <a href="portfolio/xerpa"><img src="assets/images/portfolio/xerpa/xerpa_portada.jpg" alt="imagen del proyecto"></a>
        </div>
        <div class="carousel-item">
          <a href="portfolio/smartlink"><img src="assets/images/portfolio/smartlink/smartlink_portada.jpg" alt="imagen del proyecto"></a>
        </div>
        <div class="carousel-item">
          <a href="portfolio/makeyoursuit"><img src="assets/images/portfolio/makeyoursuit/makeyoursuit_portada.jpg" alt="imagen del proyecto"></a>
        </div>

        <div class="carousel-item">
          <a href="portfolio/puntoyseguido"><img src="assets/images/portfolio/puntoyseguido/puntoyseguido_portada.jpg" alt="imagen del proyecto"></a>
        </div>
        <div class="carousel-item">
          <a href="portfolio/procter"><img src="assets/images/portfolio/procter/procter_portada.jpg" alt="imagen del proyecto"></a>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="icon-prev" aria-hidden="true"></span>
        <span class="sr-only" translate>Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="icon-next" aria-hidden="true"></span>
        <span class="sr-only" translate>Next</span>
      </a>
    </div>
       <a class="btn btn-primary btn-center" href="portfolio" translate>viewAllProjects</a>
  </div>
</article>
<!-- end portfolio -->

<!--Currículim -->
<article id="curriculum" class="box-curriculum cf">
  <div class="">
    <h3 translate>curriculum</h3>
    <!-- Nav tabs -->
    <div class="box-ul-curriculum">
      <ul class="nav nav-pills ul-curriculum" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#knowledge" role="tab" translate>knowledge</a>
        </li>
        <li class="nav-item">
          <a id="tab_about" class="nav-link" data-toggle="tab" href="#aboutme" role="tab" translate>aboutMe</a>
        </li>
        <li class="nav-item">
          <a id="tab_experience" class="nav-link" data-toggle="tab" href="#experience" role="tab" translate>experience</a>
        </li>
        <li class="nav-item">
          <a id="tab_education" class="nav-link" data-toggle="tab" href="#education" role="tab" translate>studies</a>
        </li>
        <li class="nav-item">
          <a id="tab_howwork" class="nav-link" data-toggle="tab" href="#howwork" role="tab" translate>processWork</a>
        </li>
      </ul>

    </div>

    <!-- Tab panes -->
    <div class="tab-content container">
      <!-- tab conocimientos inicio -->
      <div class="tab-pane active" id="knowledge" role="tabpanel">
        <div class="box-left">
          <p translate>ImAriadna</p>
          <p translate>technologicAboutMe</p>
          <a class="btn btn-primary-outline margin-md-t" onclick="$('#tab_about').tab('show');" translate>knowMoreAboutMe</a>
        </div>
        <div class="box-right">
          <div class="cf">
            <div class="text-programs" id="caption-photoshop"><span>Photoshop, Ilustrator</span></div>
            <progress class="progress progress-striped active" value="93" max="100" aria-describedby="caption-sketch">
              <div class="progress">
              </div>
            </progress>
          </div>
          <div class="cf">
            <div class="text-programs" id="caption-sketch"><span>Sketch, Axure</span></div>
            <progress class="progress progress-striped active" value="70" max="100" aria-describedby="caption-sketch">
              <div class="progress">
              </div>
            </progress>
          </div>
          <div class="cf">
            <div class="text-programs" id="caption-html"><span>HTML5, CSS3, SASS</span></div>
            <progress class="progress progress-striped active" value="80" max="100" aria-describedby="caption-html">
              <div class="progress">
              </div>
            </progress>
          </div>
          <div class="cf">
             <div class="text-programs" id="caption-javascript"><span>Javascript / JQuery</span></div>
            <progress class="progress progress-striped active" value="45" max="100" aria-describedby="caption-javascript">
              <div class="progress">
              </div>
            </progress>
          </div>
          <div class="cf">
            <div class="text-programs" id="caption-git"><span>Git</span></div>
            <progress class="progress progress-striped active" value="55" max="100" aria-describedby="caption-git">
              <div class="progress">
              </div>
            </progress>
         </div>
         <div class="cf">
            <div class="text-programs" id="caption-git"><span>Google Analytics</span></div>
            <progress class="progress progress-striped active" value="70" max="100" aria-describedby="caption-git">
              <div class="progress">
              </div>
            </progress>
         </div>
        </div>
      </div>
      <!-- tab conocimientos fin -->
      <!-- tab conocimientos about me -->
      <div class="tab-pane" id="aboutme" role="tabpanel">
        <div class="box-left">
          <p translate>webInspirations
            <a href="http://alistapart.com">Alistapart,</a>
            <a href="http://caniuse.com">CanIuse,</a>
            <a href="http://www.awwwards.com">Awwwards,</a>
            <a href="https://abookapart.com">ABookApart</a>
          </p>
          <p translate>ABPassion</p>
          <a class="btn btn-primary-outline margin-md-t" onclick="$('#tab_experience').tab('show');" translate>readWork</a>
        </div>
        <div class="box-right">
          <img src="assets/images/perfil/perfil_ari.jpg" alt="">
        </div>
      </div>
      <div class="tab-pane" id="experience" role="tabpanel">
        <div class="row">
          <div class="box-left">
            <h5 class="text-subtitle" translate>designFrontend</h5>
            <h6><strong>SmartCommerce. </strong><span translate>dateSmartCommerce</span></h6>
            <ul class="list-functions">
              <li class="li-title" translate>functions</li>
              <li><span translate>conceptDesign</span></li>
              <li><span translate>responsiveDesign</span></li>
              <li><span translate>wireframePrototype</span></li>
              <li><span translate>frontEndDeveloper</span></li>
            </ul>
          </div>
          <div class="box-right">
            <h5 class="text-subtitle" translate>intern_graphic_design</h5>
            <h6><strong>Offerum. </strong><span translate>date_offerum</span></h6>
            <ul class="list-functions">
              <li class="li-title" translate>functions</li>
              <li><span translate>use_img</span></li>
              <li><span translate>photo_change</span></li>
              <li><span translate>prepare_img_web</span></li>
              <li><span translate>design_target</span></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="box-left">
            <h5 class="text-subtitle" translate>design_web_grafic</h5>
            <h6><strong>Makeyoursuit. </strong><span translate>date_makeyoursuit</span></h6>
            <ul class="list-functions">
              <li class="li-title" translate>functions</li>
              <li><span class="text-functions" translate>web_redesign</span></li>
              <li><span class="text-functions" translate>adapt_responsive</span></li>
              <li><span class="text-functions" translate>design_banner</span></li>
              <li><span class="text-functions" translate>photo_change</span></li>
            </ul>
          </div>
          <div class="box-right">
            <h5 class="text-subtitle" translate>intern_graphic_design</h5>
            <h6><strong>Sodexo. </strong><span translate>date_sodexo</span></h6>
            <ul class="list-functions">
              <li class="li-title" translate>functions</li>
              <li><span translate>design_triptic</span></li>
              <li><span translate>design_newsletter</span></li>
            </ul>
          </div>
        </div>
        <div class="separation-top margin-md-b">
          <div class="center-table">
            <span translate>see_my_education</span>
            <a class="btn btn-primary-outline" onclick="$('#tab_howwork').tab('show');" translate>see_how_education</a>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="education" role="tabpanel">
        <div class="row">
          <div class="box-left">
            <h5 class="text-subtitle" translate>master_design_web</h5>
            <h6><strong translate>bau</strong><span> 2014 - 2015</span></h6>
            <p class="hidden-xs-down" translate>master_bau</p>
            <h5 class="margin-md-t text-subtitle" translate>design_degree</h5>
            <h6><strong translate>barcelona_university</strong><span> 2010 - 2014</span></h6>
            <p class="hidden-xs-down" translate>info_degree</p>
            <!-- <h5 class="margin-md-t text-subtitle" translate>Cursos</h5>
            <h6><strong>Diferentes temáticas relacionadas con el sector del diseño web</strong></h6>
            <p class="hidden-xs-down" translate><b>2016</b> Curso Técnico de Javascript y Jquery (Seeway, Barcelona)</p>
            <p class="hidden-xs-down" translate><b>2014</b> Curso Google analítics. (Mide y vencerás, Barcelona)</p>
            <p class="hidden-xs-down" translate><b>2014</b> Curso Básico de Marketing Digital de Google e IAB Spain</p>
            <p class="hidden-xs-down" translate><b>2013</b> Curso reducido de Posicionamiento Web (Barcelona Activa)</p>
            <p class="hidden-xs-down" translate><b>2012</b> Curso de iniciación en Arteterapia (Universidad de verano de la UAB)</p> -->
            <a class="btn btn-primary-outline margin-md-t" onclick="$('#tab_work').tab('show');" translate>Ver proceso de trabajo</a>
          </div>
          <div class="box-right">
             <img src="assets/images/perfil/perfil_ari.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="tab-pane" id="howwork" role="tabpanel">
        <h4 class="title-description" translate>show_steps_work</h4>
        <h4 class="title-description-sub" translate>show_steps_work_agile</h4>
        <div class="row">
          <div class="box-2">
            <div class="box-img-process">
              <img src="assets/images/icons/search-process.svg" alt="">
            </div>
            <div class="box-text-process">
              <h5>1. {{'step_1' | translate}}</h5>
              <p translate>info_step_1</p>
            </div>
          </div>
          <div class="box-2">
            <div class="box-img-process">
              <img src="assets/images/icons/design-process.svg" alt="">
            </div>
            <div class="box-text-process">
              <h5>2. {{'step_2' | translate}}</h5>
              <p translate>info_step_2</p>
            </div>
          </div>
          <div class="box-2">
            <div class="box-img-process">
              <img src="assets/images/icons/code-process.svg" alt="">
            </div>
            <div class="box-text-process">
              <h5>3. {{'step_3' | translate}}</h5>
              <p translate>info_step_3</p>
            </div>
          </div>
          <div class="box-2">
            <div class="box-img-process">
              <img src="assets/images/icons/final-process.svg" alt="">
            </div>
            <div class="box-text-process">
              <h5>4. {{'step_4' | translate}}</h5>
              <p translate>info_step_4</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="buttons-cv">
    <div class="center-elements">
      <a *ngIf="selectedLang === 'es'" class="margin-sm-r" href="assets/images/pdf/ariadna_ercilla_cv.pdf" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
      <a *ngIf="selectedLang === 'en'" class="margin-sm-r" href="assets/images/pdf/ariadna_ercilla_cv.pdf" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
      <a *ngIf="selectedLang === 'cat'" class="margin-sm-r" href="assets/images/pdf/ariadna_ercilla_cv.pdf" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/ariadnaercilla/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    </div>
  </div>
</article>
<!-- end servicios -->

<!--contacto -->
<article id="contact" class="box-contact">
  <div class="container">
    <h3 translate>contact</h3>
    <p translate>send_email</p>
      <a class="text-center box-block" href="mailto:a.ercilla.m@gmail.com">a.ercilla.m@gmail.com</a>
  </div>
</article>
<!-- end contacto -->
